<div class="navbar mb-3">
     <ul class="nav justify-content-between align-items-center w-100">
          <div><img routerLink="/home" src="../../../assets/img/logo.png" alt=""></div>
          <div class="d-flex">
               <li *ngIf="!user.id" class="nav-item">
                    <a class="nav-link" (click)="openLogin()">Login <img class="icon"
                              src="../../../assets/icons/login.png" alt=""></a>
               </li>
               <li *ngIf="!user.id" class="nav-item">
                    <a class="nav-link" (click)="openRegister()">Register <img class="icon"
                              src="../../../assets/icons/login.png" alt=""></a>
               </li>
               <li *ngIf="user.id" class="nav-item">
                    <a class="nav-link" routerLink="/profile">Profile <img class="icon"
                              src="../../../assets/icons/cart.png" alt=""></a>
               </li>
               <li *ngIf="user.id" class="nav-item">
                    <a class="nav-link" routerLink="/cart">Cart <img class="icon"
                              src="../../../assets/icons/cart.png" alt=""> <span class="text-white cart-count">
                              {{userCartCount$}} </span> </a>

               </li>
               <li class="nav-item">
                    <a class="nav-link">EN <img class="icon" src="../../../assets/icons/language.png" alt=""></a>
               </li>
               <li *ngIf="user.id" class="nav-item">
                    <a class="nav-link" (click)="logOut()">LogOut <img class="icon"
                              src="../../../assets/icons/login.png" alt=""></a>
               </li>
          </div>
     </ul>
</div>