<div class="login">
     <div class="header ">
          <div class="logo d-flex justify-content-center">
               <img src="../../../assets/img/logo.png" alt="logo">
          </div>
          <div class="d-flex justify-content-center mt-4">
               <h3 class="text-white">Welcome Back !</h3>
          </div>
          <div class="form mt-4" id="grayInput">
               <form [formGroup]="loginForm" (submit)="login()">
                    <!-- E-mail -->
                    <mat-form-field appearance="fill" class="w-100">
                         <mat-label>E-Mail</mat-label>
                         <input matInput type="email" class="w-100" formControlName="email" autocomplete="off">
                    </mat-form-field>

                    <!-- Password -->
                    <mat-form-field appearance="fill" class="w-100">
                         <mat-label>Password</mat-label>
                         <input matInput type="password" class="w-100" formControlName="password" autocomplete="new-password">
                    </mat-form-field>

                    <button type="submit" class="btn bg-orange w-100 btn-orange">Login</button>
               </form>

          </div>
     </div>
</div>