.logo {
  img {
    max-width: 150px;
  }
}

#customForm ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255, 43%);
}


#customForm ::ng-deep .mat-form-field-outline {
  border: 1px solid gray;
  border-radius: 15px;
  background: gray;
}

/* Border */
#customForm ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(252, 80, 0);
  border-radius: 15px;
  // display: none !important;
}

/* Font color */
#customForm ::ng-deep input.mat-input-element {
  color: white;
}

// Focused input border
#customForm ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: none;
}

// Focused input border
#customForm ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border: none;
}

// Focused input border
#customForm ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border: none;
}


// Focused input border
#customForm ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border: none;
}

// Focused input border
#customForm ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
  border: none;
}


// Focused input border
#customForm ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
  border: none;
}


// Focused mat label color
#customForm ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: orange;
}

// Focused mat label color
#customForm ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
     color: orange;
   }


// Focused mat label location
#customForm ::ng-deep .mat-form-field.mat-focused .mat-form-field-label-wrapper {
  top: -1.6em;
}

#customForm ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
     color: orange;
     // top: -1.6em;
 }
