<div class="login">
     <div class="header ">
          <div class="logo d-flex justify-content-center">
               <img src="../../../assets/img/logo.png" alt="logo">
          </div>
          <div class="form mt-4" id="customForm">

               <!-- Full Name -->
               <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Full Name</mat-label>
                    <input matInput class="w-100" autocomplete="off">
               </mat-form-field>

               <!-- Username -->
               <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Username</mat-label>
                    <input matInput class="w-100" autocomplete="off">
               </mat-form-field>

               <!-- E-mail -->
               <mat-form-field appearance="outline" class="w-100">
                    <mat-label>E-Mail</mat-label>
                    <input matInput class="w-100" autocomplete="off">
               </mat-form-field>

               <!-- Password -->
               <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput class="w-100" autocomplete="off">
               </mat-form-field>

               <!-- Confirm Password -->
               <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Confirm Password </mat-label>
                    <input matInput class="w-100" autocomplete="off">
               </mat-form-field>
          </div>
     </div>
</div>