<div class="profile-page">
  <!-- Vertical Line -->
  <div *ngIf="!loading" class="vertical-line full-width"></div>
  <mat-progress-bar *ngIf="loading" class="full-width" mode="indeterminate"></mat-progress-bar>

  <div class="page-body w-100">
    <div class="tabs">
      <!-- Tabs -->
      <div class="tab-list">
        <ul class="tabs nav">
          <li [ngClass]="activeTab === 0 ? 'active' : ''" class="nav-item" (click)="activeTab = 0">
            <a class="nav-link">User Information</a>
          </li>
          <li [ngClass]="activeTab === 1 ? 'active' : ''" class="nav-item" (click)="activeTab = 1">
            <a class="nav-link">Pass Orders</a>
          </li>
          <li [ngClass]="activeTab === 2 ? 'active' : ''" class="nav-item" (click)="activeTab = 2">
            <a class="nav-link">My Coupons</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="tab-content row gx-5">

      <div class="col user-info">
        <div class="header-case d-flex justify-content-center">
          <div class="header d-flex align-items-center justify-content-center">User Card </div>
        </div>
        <div class="profile-card user-card">
          <div class="inputs">
            <div class="input-name">Full Name</div>
            <div class="input">{{user.firstName}}</div>
          </div>

          <div class="inputs">
            <div class="input-name">Email</div>
            <div class="input">{{user.email}}</div>
          </div>

          <div class="inputs">
            <div class="input-name">Phone</div>
            <div class="input">{{user.phoneNumber}}</div>
          </div>

          <div class="mt-3 btn-case">
            <button class="btn btn-sm  btn-light" (click)="editProfile()">
              Edit Profile
            </button>
          </div>

        </div>
      </div>

      <div class="col addresses">
        <div class="header-case d-flex justify-content-center">
          <div class="header d-flex align-items-center justify-content-center">Address Card</div>
        </div>
        <div class="profile-card address-card">

          <div class="inputs" *ngFor="let address of userAddresses">
            <div class="input-name">{{address.title}}</div>
            <div class="input">
              {{ address.building | titlecase }} , {{ address.street | titlecase}} ,
              {{ address.city | titlecase}} / {{ address.country | titlecase}}
            </div>
            <div class="icon pt-1" (click)="addEditAddress(address)"><img src="../../../assets/icons/edit.png" alt="">
            </div>
            <div class="icon pb-1" (click)="deleteAddress(address)"><img src="../../../assets/icons/trash.png" alt="">
            </div>
          </div>

          <div class="mt-3 btn-case">
            <button [disabled]="userAddresses?.length === 3" class="btn btn-sm  btn-light" (click)="addEditAddress()">
              <span *ngIf="userAddresses?.length < 3">Add Address</span>
              <span *ngIf="userAddresses?.length === 3">Full</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
