<div class="profile-page">

  <div class="page-body w-100">
    <div class="tabs">
      <!-- Tabs -->
      <div class="tab-list">
        <ul class="tabs nav">
          <li [ngClass]="activeTab === 0 ? 'active' : ''" class="nav-item" (click)="activeTab = 0">
            <a class="nav-link">{{'profile-tabs.user-info' | translate}}</a>
          </li>
          <li [ngClass]="activeTab === 1 ? 'active' : ''" class="nav-item" (click)="activeTab = 1">
            <a class="nav-link">{{'profile-tabs.previous-orders' | translate}}</a>
          </li>
          <li [ngClass]="activeTab === 2 ? 'active' : ''" class="nav-item" (click)="activeTab = 2">
            <a class="nav-link">{{'profile-tabs.my-coupons' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Tab Content -->
    <div class="tab-content row gx-5">

      <div class="col user-info">
        <div class="header-case d-flex justify-content-center">
          <div class="header d-flex align-items-center justify-content-center">{{'user-info.user-card' | translate}} </div>
        </div>
        <div class="profile-card user-card">
          <div class="inputs">
            <div class="input-name">{{'edit-profile.first-name' | translate}}</div>
            <div class="input">{{user.firstName}}</div>
          </div>

          <div class="inputs">
            <div class="input-name">{{'edit-profile.email' | translate}}</div>
            <div class="input">{{user.email}}</div>
          </div>

          <div class="inputs">
            <div class="input-name">{{'edit-profile.phone' | translate}}</div>
            <div class="input">{{user.phoneNumber}}</div>
          </div>

          <div class="mt-3 btn-case">
            <button class="btn btn-sm  btn-light" (click)="editProfile()">
              {{'user-info.edit-profile' | translate}}
            </button>
          </div>

        </div>
      </div>

      <div class="col addresses">
        <div class="header-case d-flex justify-content-center">
          <div class="header d-flex align-items-center justify-content-center">{{'user-info.addresses' | translate}}</div>
        </div>
        <div class="profile-card address-card">

          <div class="inputs" *ngFor="let address of userAddresses">
            <div class="input-name">{{address.title}}</div>
            <div class="input">
              {{ address.building | titlecase }} , {{ address.street | titlecase}} ,
              {{ address.city | titlecase}} / {{ address.country | titlecase}}
            </div>
            <div class="icon pt-1" (click)="addEditAddress(address)"><img src="../../../assets/icons/edit.png" alt="">
            </div>
            <div class="icon pb-1" (click)="confirmationModal(address)"><img src="../../../assets/icons/trash.png" alt="">
            </div>
          </div>

          <div class="mt-3 btn-case">
            <button [disabled]="userAddresses?.length === 3" class="btn btn-sm  btn-light" (click)="addEditAddress()">
              <span *ngIf="userAddresses.length < 3">{{'user-info.add-address' | translate}}</span>
              <span *ngIf="userAddresses.length === 3">{{'user-info.full' | translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>