@import "_veriables.scss";

.nav-items {
    ul {
        list-style: none;
        padding: 0;

        li{
            margin-bottom: 10px;
        }

        li,
        a {
            color: $color-white;
            font-weight: 700;
            padding-left: 0 !important;
            display: flex;
            width: 100%;

            .cart-count {
                position: absolute;
                margin-left: 34px;
                margin-top: -12px;
            }

            img {
                margin: 0 15px;
            }
        }
    }
}