@import "_veriables.scss";

.nav-items {
  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      margin: 20px 0;
    }

    .nav-item:not(:first-child) {
      border-bottom: 1px solid #0f0f0f;
    }


    li,
    a {
      color: $color-white;
      font-weight: 700;
      padding-left: 0 !important;
      display: flex;
      width: 100%;

      .cart-count {
        position: absolute;
        margin-left: 34px;
        margin-top: -12px;
      }

      img {
        margin: 0 15px;
      }
    }
  }
}
