<div class="home-page">
  <div class="">
    <!-- Tabs -->
    <div class="tab-list">
      <ul class="tabs nav">
        <span *ngFor="let category of categories">
          <li [ngClass]="activeTab === category.id || (activeTab === '' && category.id === '') ? 'active' : ''"
            class="nav-item" (click)="changeTab(category.id);">
            <a class="nav-link">{{ 'product-tabs.' + category.translateKey | translate }}</a>
          </li>
        </span>
      </ul>
    </div>
  </div>
  <!-- Vertical Line -->
  <div *ngIf="!loading" class="vertical-line full-width"></div>
  <mat-progress-bar *ngIf="loading" class="full-width" mode="indeterminate"></mat-progress-bar>

  <div class="page-list flex-xy-center">
    <!-- Product List -->
    <div class=" d-flex align-items-center row gx-5 w-100"
      *ngIf="(!loading && activeTab !== 'news'); else newsListElement">
      <div class="list-item col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let product of products">
        <img class="list-item-img" [src]="product.image" alt="" (click)="openProductDetail(product)">
        <div class="list-item-footer">
          <div class="list-item-add">
            <div class="list-item-price">$ {{product.price}}</div>
            <div [matTooltip]="!user.id ? tooltipMessage : ''" matTooltipClass="tooltip-red">
              <div [class.disabled]="!user.id" class="add-button" (click)="addToCart(product)">
                {{'product-detail.add-cart' | translate}}
                <span><img class="icon" src="../../../assets/icons/cart.png" alt=""></span>
              </div>
            </div>
            <img style="display: none;" [src]="product.imageLogo" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- News List -->
    <ng-template class="news" #newsListElement>
      <span class="flex-xy-center row gx-5" *ngIf="!loading">
        <div class="list-item col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-5 flex-xy-center" style="flex-direction: column;"
          *ngFor="let item of news">

          <div class="card bg-dark text-white news-img">
            <img [src]="item.image" class="news-img" alt="..."
              onerror="this.src = '../../../assets/img/default_news.jpg';">
            <div class="card-img-overlay">
              <h5 class="card-title mt-4">{{item.title}}</h5>
              <p class="news-desc">{{item.description}}</p>
            </div>
          </div>

          <div class="list-item-footer">
            <div class="list-item-add">
              <div class="list-item-price"><img style="width: 30px;" [src]="item.imageLogo" alt=""></div>
              <a [href]="item.url" target="_blank">
                <div [class.disabled]="!user.id" class="add-button">
                  {{'game-news.read-more' | translate}}
                </div>
              </a>
              <img style="display: none;" [src]="item.imageLogo" alt="">
            </div>
          </div>

        </div>
      </span>
    </ng-template>

  </div>

  <!-- Sketlon -->
  <div class="sketlon" *ngIf="loading">
    <div class="item row gx-5 text-center" *ngFor="let list of [1,2,3]">
      <app-sketlon style="height: 350px;margin: 15px 0;" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-5 sketlon-img"
        *ngFor="let list of [1,2,3,4]"></app-sketlon>
    </div>
  </div>

  <!-- Load More Progress -->
  <div *ngIf="loadMoreProgress" class="loader flex-xy-center">
    <img style="width: 120px;" src="../../../assets/img/loader.gif" alt="">
  </div>

  <!-- Infınıte Scroll -->
  <div class="search-results" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="700"
    (scrolled)="!loadMoreProgress ? loadMore() : null"></div>

</div>