<div class="home-page">
  <div class="">
    <!-- Tabs -->
    <div class="tab-list">
      <ul class="tabs nav">
        <span *ngFor="let category of categories">
          <li [ngClass]="activeTab === category.id || (activeTab === '' && category.id === '') ? 'active' : ''"
            class="nav-item" (click)="page = 1 ;getPage(category.id); activeTab = category.id">
            <a class="nav-link">{{ 'product-tabs.' + category.translateKey | translate }}</a>
          </li>
        </span>
      </ul>
    </div>
  </div>
  <!-- Vertical Line -->
  <div *ngIf="!loading" class="vertical-line full-width"></div>
  <mat-progress-bar *ngIf="loading" class="full-width" mode="indeterminate"></mat-progress-bar>

  <!-- Product List -->
  <div class="product-list">
    <div class=" d-flex align-items-center row gx-5" *ngIf="!loading">
      <div class="product col-lg-3 col-sm-6 mb-5" *ngFor="let product of products">
        <img class="product-img" [src]="product.image" alt="" (click)="openProductDetail(product)">
        <div class="product-footer">
          <div class="price-add">
            <div class="price">$ {{product.price}}</div>
            <div class="add-button" (click)="addToCart(product)">Add to Cart <span><img class="icon"
                  src="../../../assets/icons/cart.png" alt=""></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sketlon" *ngIf="loading">
    <div class="item row gx-5 text-center" *ngFor="let list of [1,2,3]">
      <app-sketlon style="height: 350px;margin: 15px 0;" class="col-lg-3 col-sm-6 mb-5 sketlon-img"
        *ngFor="let list of [1,2,3,4]"></app-sketlon>
    </div>
  </div>

  <div class="paging">
    <div class="buttons">
      <div class="paging-button previous"><button (click)="getProducts(activeTab , 'previousPage')" class="action-btn">
          <</button> </div> <div class="paging-button page-number pageNumber">{{page}}</div>
      <div class="paging-button next"><button (click)="getProducts(activeTab , 'nextPage')"
          class="action-btn">></button></div>
    </div>
  </div>

</div>
