<div class="profile-page">
  <div class="page-body row w-100">

    <mat-stepper linear #stepper>

      <!-- Order Step -->
      <mat-step>
        <ng-template matStepLabel>{{'cart-stepper.order' | translate}}</ng-template>
        <div class="order-tab row w-100">

          <div class="left-side  col-xl-7 col-lg-6 col-md-12">
            <div class="order-side">
              <!-- Cart Products -->
              <div class="product row" *ngFor="let item of userCart$.products">
                <div class="img col-xl-3 col-md-4 p-0">
                  <img class="" [src]="item.product.image" alt="">
                </div>
                <div class="info-case col-xl-9 col-md-8">
                  <div class="order-info">
                    <div class="product-name">{{item.product.title}}</div>
                    <div class="product-price">$ {{item.product.price}}</div>
                    <div class="add-remove row">
                      <!-- Increment Button -->
                      <div class="decrement col-4 row-reset"
                        (click)="item.totalQty === 1 ? confirmationModal(item) : deleteProduct(item)"
                        [class.nonpointer]="progressProductId === item._id">
                        <img *ngIf="item.totalQty === 1" src="../../../assets/icons/orange-trash.png" alt="">
                        <span *ngIf="item.totalQty > 1"> - </span>
                      </div>
                      <!-- Item Total Quantity -->
                      <div class="count col-4 row-reset">
                        <span *ngIf="progressProductId !== item._id">{{item.totalQty}} </span>
                        <span *ngIf="progressProductId === item._id">
                          <mat-spinner [diameter]="20"></mat-spinner>
                        </span>
                      </div>
                      <!-- Decrement Button -->
                      <div class="increment col-4 row-reset" (click)="addToCart(item)"
                        [class.nonpointer]="progressProductId === item._id">
                        <img src="../../../assets/icons/plus.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button *ngIf="userCart$?.products?.length" class="btn btn-orange btn-mdc w-80 mt-4 text-white"
              (click)="confirmationModal()">{{'check-out.clear-cart' | translate}}</button>
          </div>

          <div class="payment-side col-xl-5 col-lg-6 col-md-12 p-0">
            <!-- User Addresses -->
            <div class="addresses">
              <div class="inputs" *ngFor="let address of userAddresses$">
                <div class="input-name">{{address.title}}</div>
                <div class="input">
                  {{ address.building | titlecase }} , {{ address.street | titlecase}} ,
                  {{ address.city | titlecase}} / {{ address.country | titlecase}}
                </div>
                <div class="radio-btn">
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="selectedAddress">
                    <mat-radio-button class="example-radio-button" [value]="address.title">
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>

            <div *ngIf="isError" class="errors">
              <span class="text-red"> {{errorMessage}} </span>
            </div>

            <!-- Total Info -->
            <div class="total-info">
              <div class="total-card">
                <div class="texts">
                  <div class="total-item">
                    <div class="total-price">$ {{userCart$.totalPrice | number:'1.2-2'}} </div>
                    <div class="total-count"> {{userCart$.totalQty}} {{'check-out.item' | translate}}</div>
                  </div>
                  <div class="total-item">
                    <div class="price">$ {{deliveryPrice | number:'1.2-2'}} </div>
                    <div class="delivery">{{'check-out.delivery' | translate}}</div>
                  </div>
                </div>
                <div class="buttons d-flex">
                  <span class="total-price col-6 flex-xy-center">$ {{userCart$.totalPrice + deliveryPrice |
                    number:'1.2-2'}}</span>
                  <span class="goto-payment col-6" [class.disabled]="!userCart$?.products?.length"
                    (click)="goToNextStep('payment')">{{'check-out.payment' | translate}}
                    <img src="../../../assets/icons/fluent_payment-28-filled.svg" alt="">
                    <img src="../../../assets/icons/arrow-rigth.png" alt="">
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>

      <!-- Payment Step -->
      <mat-step>
        <ng-template matStepLabel>{{'cart-stepper.payment' | translate}}</ng-template>
        <!-- Back Button -->
        <button (click)="paymentForm.reset()" class="btn btn-sm btn-orange flex-xy-center" mat-button
          matStepperPrevious>
          <img style="width: 13px; height:13px" class="back-icon m-0" src="../../../assets/icons/back-arrow.svg" alt="">
          <span class="p-1"> {{'general.turn-back' | translate}} </span>
        </button>
        <div class="payment-page row">
          <!-- Card Side -->
          <div class="card-side col-xl-5">
            <div class="credit-card ">
              <img src="../../../assets/img/Group 189.png" alt="">
              <div class="credit-card-info">
                <div class="card-number">
                  {{paymentForm.get('cardNumber')?.value || '0000 0000 0000 0000' | mask: '0000 0000 0000 0000'}}
                </div>
                <div class="date">
                  <img src="../../../assets/icons/right_arrow.svg" alt="">
                  {{paymentForm.get('expDate')?.value || '00/00' | mask: '00/00'}}
                </div>
                <div class="name">
                  {{paymentForm.get('cardName')?.value || 'Card Name' | uppercase}}
                </div>
              </div>
            </div>
          </div>
          <!-- Payment Form -->
          <div class="payment-form col-xl-6">
            <form [formGroup]="paymentForm" (submit)="payment()" id="fillOrange">
              <!-- E-mail -->
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{'payment.card-number' | translate}}</mat-label>
                <input matInput mask="0000 0000 0000 0000" formControlName="cardNumber" type="text" class="w-100"
                  autocomplete="off">
              </mat-form-field>

              <!-- Password -->
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{'payment.card-name' | translate}}</mat-label>
                <input matInput mask="S* S*" type="text" class="w-100" formControlName="cardName"
                  autocomplete="new-password">
              </mat-form-field>

              <div class="date-cvv row">
                <!-- E-mail -->
                <mat-form-field appearance="fill" class="col-6">
                  <mat-label>{{'payment.exp-date' | translate}} </mat-label>
                  <input matInput [showMaskTyped]="true" mask="00/00" formControlName="expDate" type="text"
                    class="w-100" autocomplete="off">
                </mat-form-field>

                <!-- Password -->
                <mat-form-field appearance="fill" class="col-6">
                  <mat-label>CVV</mat-label>
                  <input matInput mask="000" [showMaskTyped]="true" formControlName="cvv" type="text" class="w-100"
                    autocomplete="new-password">
                </mat-form-field>
              </div>

              <button [class.disabled]="paymentForm.invalid" type="submit"
                class="btn bg-orange w-100 btn-orange btn-mdc">{{'payment.pay' | translate}}</button>
            </form>
          </div>
        </div>
      </mat-step>

      <!-- Success Message -->
      <mat-step>
        <ng-template matStepLabel>{{'cart-stepper.done' | translate}}</ng-template>
        <div class="order-success-step d-flex justify-content-center">
          <div class="message-actions mt-5">
            <div class="flex-xy-center">
              <img style="width: 100px;" src="https://media.giphy.com/media/fS3rHrEAFwOUKYDwdY/giphy.gif" alt="">
            </div>
            <div class="flex-xy-center mt-4">
              <h2 class="text-white">
                {{'payment.order-taken' | translate: ({'bougthOrderCount': orderedItems})}}
              </h2>
            </div>
            <div class="flex-xy-center mt-4">
              <button class="btn btn-orange w-80 btn-mdc" mat-button (click)="resetCartItems()">{{'general.go-home' |
                translate}}</button>
            </div>
          </div>
        </div>
      </mat-step>

    </mat-stepper>

  </div>
</div>